<!--footer start-->
<footer class="container-fluid mx-0 mt-5">
    <div>
        <p>2021©ventiquattro.fr</p>
        <a href="#nav"><i class="fas fa-sort-up fa-5x"></i></a>
    </div>
</footer>
<!--footer stop-->