/*scss footer*/

footer {
    background-color: #000;
    min-height: 10vh !important;
    height: auto;
    width: 100% !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    position: bottom !important;
    bottom: 0 !important;

    div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto 2vw;
            padding-top: 3vh;

        p {
            color: #e7bd70;
            font-family: "romanus";

            /*medias queries*/
        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
        font-size: 2.1rem !important;
        letter-spacing: 0.2rem !important;
        }

        // Extra large devices (large desktops, 1200px and bottom)
        @media (max-width: 1199px) {
        font-size: 1.8rem !important;
        letter-spacing: 0.2rem !important;
        }

        // Large devices (desktops, 992px and up)
        @media (max-width: 992px) {
        font-size: 1.8rem !important;
        letter-spacing: 0.1rem !important;
        }

        // Medium devices (tablets, 768px and up)
        @media (max-width: 768px) {
        font-size: 1.6rem !important;
        letter-spacing: 0.2rem !important;
        }

        // Small devices (landscape phones, 576px and up)
        @media (max-width: 576px) {
        font-size: 1.4rem !important;
        letter-spacing: 0.1rem !important;
        }
    }

        i {
            color: #e7bd70;
        }
    }

}